
.navbar.navbar-expand-lg.bg-dark{
    background-color: rgb(78, 90, 82)  !important;
    padding-y: 0;
}
.navbar{
    --bs-navbar-padding-y:0 !important;
}
i.fa-brands.fa-linkedin.fa-2xl:hover{
    color: blue;
    }
li.list-group-item{
    background-color: rgb(43, 226, 141);
}
i.fa-brands.fa-facebook.fa-2xl:hover{
    color: blue;
}
i.fa-brands.fa-instagram.fa-2xl:hover{
    color: #C13584;
}
section.sobre-mi{
    margin-top: 7.5rem;
    background-image: url(../IMG/background-2426328.jpg);
    background-size: 100%;
    min-height: 100vh;   
}
section.dashboard{
    margin-top: 7.5rem;
}

div.row>*{
padding-left: 0em;
}